@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {

    --font-sans: "Poppins", sans-serif;

    --color-primary: #254D70;
    --color-secondary: #EFE4D2;

}
